<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa kirjaa</title>
  <style>
    .button {
        display: block; 
        padding: 10px; 
        margin: 5px 0; 
        border: 1px solid #000; 
        text-align: center; 
        text-decoration: none; 
        color: #000; 
        background-color: #f0f0f0; 
        border-radius: 5px; 
        width: 150px;
    }

    .button:hover {
        background-color: #ddd; 
    }
</style>
</head>

<body>
    <h2>Muokkaa kirjaa</h2>
    <form action="/update_book" method="POST">
    <p>
        Kirjan nimi: <br />
      <input type="text" name="book_name" maxlength="40" value="{{ book.book_name }}" required/>
    </p>
    <p>
        Kirjailija: <br />
      <input type="text" name="author" maxlength="40" value="{{ book.author }}" required/>
    <p>
        Kuvaus: <br />
        <textarea name="description" rows="10" columns="60" maxlength="1000" required>{{ book.description }}</textarea>
    </p>
    <input type="hidden" name="book_id" value="{{ book.id }}" />
    <input class="button" type="submit" value="Tallenna muutokset"/>
  </form>
</body>

</html>
