<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <style>
    .button {
        display: block; 
        padding: 10px; 
        margin: 5px 0; 
        border: 1px solid #000; 
        text-align: center; 
        text-decoration: none; 
        color: #000; 
        background-color: #f0f0f0; 
        border-radius: 5px; 
        width: 150px;
    }

    .button:hover {
        background-color: #ddd; 
    }
</style>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a class="button" href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    {{ form.hidden_tag() }}  
        {{ form.username.label }} {{ form.username() }}  
    </p>
    <p>
        {{ form.password.label }} {{ form.password() }}  
    </p>
    <input class="button" type="submit" value="Kirjaudu" />
</form>
  {% endif %}
</body>

</html>