<!DOCTYPE html>
<html>

<head>
  <title>Uusi kirja</title>
  <style>
    .button {
        display: block; 
        padding: 10px; 
        margin: 5px 0; 
        border: 1px solid #000; 
        text-align: center; 
        text-decoration: none; 
        color: #000; 
        background-color: #f0f0f0; 
        border-radius: 5px; 
        width: 150px;
    }

    .button:hover {
        background-color: #ddd; 
    }
</style>
</head>

<body>
  <form action="/new_book" method="post">
    {{ form.hidden_tag() }}  
    
    <p>
        Kirjan nimi: <br />
        {{ form.book_name(size=40) }}  
    </p>
    <p>
        Kirjailija: <br />
        {{ form.author(size=40) }} 
    </p>
    <p>
        Kuvaus: <br />
        {{ form.description(rows=10, cols=60) }} 
    </p>
    <p>
        Genre: <br />
        {{ form.book_classification() }} 
    </p>
    <input class="button" type="submit" value="Luo kirja" />
  </form>
</body>

</html>
