<!DOCTYPE html>
<html>

<head>
  <title>Uusi kirja</title>
  <style>
    .button {
        display: block; 
        padding: 10px; 
        margin: 5px 0; 
        border: 1px solid #000; 
        text-align: center; 
        text-decoration: none; 
        color: #000; 
        background-color: #f0f0f0; 
        border-radius: 5px; 
        width: 150px;
    }

    .button:hover {
        background-color: #ddd; 
    }
</style>
</head>

<body>
  <form action="/create_book" method="post">
    <p>
        Kirjan nimi: <br />
      <input type="text" name="book_name" maxlength="40" required/>
    </p>
    <p>
        Kirjailija: <br />
      <input type="text" name="author" maxlength="40" required/>
    <p>
        Kuvaus: <br />
        <textarea name="description" rows="10" cols="60" maxlength="1000" required></textarea>
    </p>
    </p>
    <input class="button" type="submit" value="Luo kirja" />
  </form>
</body>

</html>
