<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
  <style>
    .button {
        display: block; 
        padding: 10px; 
        margin: 5px 0; 
        border: 1px solid #000; 
        text-align: center; 
        text-decoration: none; 
        color: #000; 
        background-color: #f0f0f0; 
        border-radius: 5px; 
        width: 80px;
    }

    .button:hover {
        background-color: #ddd; 
    }
</style>
</head>

<body>
  <form action="/create_user" method="post">
    {{ form.hidden_tag() }}  <!-- Tämä lisää CSRF-tokenin -->
    <p>
      Tunnus: <br />
      {{ form.username.label }} {{ form.username(size=20) }}  <!-- Käyttäjänimi -->
    </p>
    <p>
      Salasana: <br />
      {{ form.password1.label }} {{ form.password1(size=30) }}  <!-- Salasana -->
    </p>
    <p>
      Salasana uudestaan: <br />
      {{ form.password2.label }} {{ form.password2(size=30) }}  <!-- Salasana uudestaan -->
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>

  <a class="button" href="/">Takaisin etusivulle</a>

</body>

</html>
